.imagem {
    display: flex;
      justify-content: center; 
      align-items: center;
}

.nome{
    display: flex;
      justify-content: center; 
      align-items: center;
    font-size: large;
}



header a{
  border: 3px solid black;
  border-radius: 20%;
background-color: rgb(211, 16, 16);
text-decoration: none;
color: rgb(255, 240, 240);
}
body{
  font-size: 20px;
 font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
.cabecalho {
  max-width: 60%;
}

.cabecalho h1 {
  margin: 0;
  font-size: 28px;
}
  

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #333;
  color: aliceblue;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}